discord.py==2.5.2
Pillow==9.5.0
PyNaCl==1.5.0
yt_dlp==2025.06.30
asyncpg==0.30.0
Google-Images-Search==1.4.7
deep-translator==1.11.4
aiohttp==3.10.11
aiofiles==23.2.1
psutil==5.9.8
matplotlib==3.8.2
Jinja2==3.1.5